<div style="background-color: #eee; width: 400px; margin: auto; padding: 32px; border-radius: 16px;">
    <h1 style="text-align: center; font-weight: bold; font-size: 36px; margin-bottom: 32px;">Regístrate</h1> 
    <form [formGroup]="formRegistroUser">
      <div style="text-align: center;">
        <div style="margin-bottom: 8px;">
          <label for="email" style="font-weight: bold;">Correo</label>
        </div>
        <div>
          <input type="text" placeholder="Ingresar Email" style="width: 100%; padding: 8px; border-radius: 8px; border: 1px solid #ccc;">
        </div>
      </div>
      <div style="margin-top: 32px; text-align: center;">
        <div style="margin-bottom: 8px;">
          <label for="email" style="font-weight: bold;">Password</label>
        </div>
        <div>
          <input type="password" placeholder="Ingresar Password" style="width: 100%; padding: 8px; border-radius: 8px; border: 1px solid #ccc;">
        </div>
      </div>
      <div style="margin-top: 32px; text-align: center;">
        <button style="background-color: #7f00ff; color: white; padding: 8px 16px; border-radius: 8px; border: none; cursor: pointer;">Registrar</button>
      </div>
    </form>
  </div>
  
  

