.bg-violet-300 {
    background-color: #ecb3f3;
  }
  
  .rounded-xl {
    border-radius: 1.5rem;
  }
  
  .px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .mt-32 {
    margin-top: 8rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-6 {
    margin-top: 1.5rem;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .bg-violet-500 {
    background-color: #8f51a1;
  }
  
  .hover:bg-violet-800 {
    background-color: #5a2d70;
  }
  
  .hover:text-white {
    color: white;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .text-red-400 {
    color: #c53030;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .text-20px {
    font-size: 20px;
  }
  